[submodule "week3/crane/week3/libigl"]
	path = week3/crane/week3/libigl
	url = https://github.com/libigl/libigl.git
[submodule "week3/libigl"]
	path = week3/libigl
	url = https://github.com/libigl/libigl.git
